.film-directory-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 50px;
    
    h1{
        font-family: 'Concert One', cursive;
        text-shadow: 5px 5px  #296E85;
    }
}

.film-directory-items{
    display: flex;
    flex-direction: column;
    .movie-banner{
        height: 300px;
        box-sizing: border-box;
        border-radius: 5%;
        box-shadow: 10px 5px 5px #296E85;
        margin-right: 5px;
        
    }

    .film-title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}

@media screen and (max-width:2220px){
    .film-directory-container{
        grid-template-columns: repeat(3,1fr);
    }

    .film-directory-items{
        .movie-banner{
            width: 80%;
        }
    }
}

@media screen and (max-width: 1650px){
    .film-directory-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:1125px){
    .film-directory-container{
        display: flex;
        flex-direction: column;
    }

}