.film-directory-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 50px;
    h1{
        font-family: 'Concert One', cursive;
    }
}

.film-directory-items{
    display: flex;
    flex-direction: column;

    .movie-banner{
        height: 300px;
        
    }

    .film-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:2220px){
    .film-directory-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 1650px){
    .film-directory-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:1125px){
    .film-directory-container{
        display: flex;
        flex-direction: column;
    }

}